# Application
APP_NAME=Mini Wallet API
APP_VERSION=1.0.0
DEBUG=False

# MongoDB
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=mini_wallet

# Security
SECRET_KEY=change-me-in-production-very-secret-key-12345
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
BCRYPT_LOG_ROUNDS=12

# API
API_V1_STR=/api/v1

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8000","http://127.0.0.1:3000","http://127.0.0.1:8000"]
